body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  padding: 0 20px;
}

div .modal {
  background-color: rgba(0,0,0,0.8);
  top: 40%;
}

.modal .modal-footer {
  background-color: rgba(0,0,0,0.1);
  text-align: center;
}

.modal .modal-footer .btn {
  margin: 6px 20px;
}

.datepicker-table {
  color: white;
}

.collap-head-parag {
  margin: 0;
}